@charset "UTF-8";

/* .game_detail_container {
	display: flex;
	width: 1000px;
	margin: 0 auto;
}

.game_detail_wrap {
	margin:0 20px;
}

.game_detail_wrap.left {
	width: 35%;
	margin:0 20px;
}

.game_detail_wrap.right {
	width: 65%;
	margin:0 20px;
} */

/* game_detail_wrap (left) */

./* game_detail_wrap .sport_img {
	width: 100%;
	margin-bottom: 30px;
} */

.game_detail_wrap .select {
	display: flex;
	align-content: center;
	font-size: var(--font-small);
	font-weight: var(--weight-bold);
	background-color: var(--color-white);
	margin-bottom: 24px;
}

.game_detail_wrap select {
	display: flex;
	margin-left: 10px;
	font-size: var(--font-micro);
}

.game_detail_wrap .select.caution {
	font-size: var(--font-micro);
}

.game_detail_wrap .select.desc {
	font-size: var(--font-micro);
	line-height: 2em;
}

/* game_detail_wrap (right) */

/* .game_detail_wrap .game_type {
	text-align: center;
	font-size: var(--font-small);
	font-weight: var(--weight-bold);
	background-color: var(--color-gray);
	border: 1px solid var(--color-gray);
	padding: 16px 0;
	
} */

.gamenew_detail {
	display: flex;
	flex-direction: column;
	background-color: var(--color-light-gray);
	border: 1px solid var(--color-gray);
	padding: 28px 32px;
	margin-bottom: 30px;
}

.gamenew_info {
	text-align: center;
	margin-bottom: 24px;
	padding: 10px 0;
	background: var(--color-white);
	border-radius: 20px;
	line-height: 2em;
}

.gamenew_detail_main {
	font-size: var(--font-small);
	font-weight: var(--weight-bold);
}

.gamenew_detail_sub {
	font-size: var(--font-micro);
}

.gamenew_write {
	text-align: left;
	margin-bottom: 24px;
	line-height: 2em;
}

.gamenew_write select {
	display: inherit;
}

/* 참가신청 */
/* .btn_apply {
	width: 100%;
	height: 70px;
	color: var(--color-white);
	font-size: var(--font-small);
	background-color: var(--color-blue);
	font-weight: var(--weight-bold);
} */

/* .btn_apply.close { 인원마감
	color: var(--color-dark-gray);
	background-color: var(--color-white);
	border: 1px solid var(--color-dark-gray);
	cursor: default;
} */

/* 위치정보 */
/* .location_info {
	font-size: var(--font-regular);
	font-weight: var(--weight-bold);
	margin-top: 30px;
}

.location_info:before { 위치정보 위에 구분선 추가
	content: '';
	display: block;
	position: relative;
	width: 100%;
	height: 2px;
	margin-bottom: 24px;
	background-color: var(--color-gray);
}

#map {
	width:100%; 
	height: 300px;
	margin-top: 18px;
} */
