@charset "UTF-8";

/* 랭크경기 등록 */

#rankgameForm {
	display: flex;
	flex-direction: column;
	border-radius: 20px;
}

#rankgameForm ul{
	overflow-y: auto;
	background-color: var(--color-white);
	margin-bottom: 0;
	border-radius: 20px;
}

#rankgameForm label {
	display: inline-block;
	width: 150px;
	height: 60px;
	line-height: 60px;
	border-right: 1px solid var(--color-admin-blue-gray);
	padding: 0 16px;
	margin-right: 24px;
}

#rankgameForm .item {
	display: flex;
	align-items: center;
	height: 60px;
	border-bottom: 1px solid var(--color-admin-blue-gray);
}

#rankgameForm .item:last-of-type {
	border-bottom: none;
}

#rankgameForm #gametype {
	width: 80px;
}

#rankgameForm #min_people,
#rankgameForm #max_people,
#rankgameForm #payment,
#rankgameForm #managerfee {
	width: 80px;
	margin-right:4px
}

#rankgameForm .btns {
	align-self: end;
	margin-top: 30px;
}

#rankgameForm .btn-cancel {
	margin-right: 16px;
}