@charset "UTF-8";

/* 경기 목록 */
#ranklist_container {
	display: flex;
	flex-direction: column;
}

#ranklist_container table {
	width: 100%;
	border: 1px solid var(--color-black);
	border-collapse: collapse;
	text-align: center;
}

#ranklist_container th, 
#ranklist_container td {
	border: 1px solid var(--color-black);
	padding: 10px;
}

#ranklist_container th:nth-of-type(1),
#ranklist_container th:nth-of-type(6) {
	width: 8%;
}

#ranklist_container th:nth-of-type(2) {
	width: 10%;
}

#ranklist_container th:nth-of-type(3) {
	width: 32%;
}

#ranklist_container th:nth-of-type(4) {
	width: 27%;
}

#ranklist_container th:nth-of-type(5) {
	width: 15%;
}

#ranklist_container .stadium {
	color: var(--color-black);
}

#ranklist_container .new-game {
	align-self: end;
	margin-top: 30px;
}

/* 경기 등록 */

#rankgameForm {
	height: 450px;
	overflow-y: scroll;
}

#rankgameForm label {
	display: inline-block;
	width: 150px;
	height: 60px;
	line-height: 60px;
	border-right: 1px solid var(--color-admin-blue-gray);
	padding: 0 16px;
	margin-right: 24px;
}

#rankgameForm .item {
	display: flex;
	align-items: center;
	height: 60px;
	border-bottom: 1px solid var(--color-admin-blue-gray);
}

#rankgameForm .item:first-of-type {
	border-top: 1px solid var(--color-admin-blue-gray);
}

#rankgameForm #gametype {
	width: 80px;
}

#rankgameForm #min_people,
#rankgameForm #max_people,
#rankgameForm #payment,
#rankgameForm #managerfee {
	width: 80px;
	margin-right:4px
}

#rankgameForm .btns {
	position: absolute;
	right: 0;
	bottom: 10px;
}

#rankgameForm .btn-cancel {
	margin-right: 16px;
}