@charset "UTF-8";

#container-oneManager {
	background: var(--color-admin-gray);
	border-radius: 20px;
	padding: 0 20px;
}

#container-oneManager h2 {
	margin: 10px 20px 16px 20px;
}

#container-oneManager .approve_detail {
	margin: 0;
}

#container-oneManager .approve_detail li {
	float: left;
	text-align: center;
	border-bottom: 1px solid gray;
	line-height: 2em;
	font-size: var(--font-micro);
	background: var(--color-admin-blue-gray);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#container-oneManager .approve_detail li:nth-child(8n+1) {
	width: 7.5%
}

#container-oneManager .approve_detail li:nth-child(8n+2) {
	width: 7.5%
}

#container-oneManager .approve_detail li:nth-child(8n+3) {
	width: 17.5%
}

#container-oneManager .approve_detail li:nth-child(8n+4) {
	width: 12.5%
}

#container-oneManager .approve_detail li:nth-child(8n+5) {
	width: 30%
}

#container-oneManager .approve_detail li:nth-child(8n+6) {
	width: 7.5%
}

#container-oneManager .approve_detail li:nth-child(8n+7) {
	width: 10%
}

#container-oneManager .approve_detail li:nth-child(8n) {
	width: 7.5%
}

#container-oneManager .approve_detail li:nth-child(1) {
	border-radius: 20px 0 0 0;
}

#container-oneManager .approve_detail li:nth-child(8) {
	border-radius: 0 20px 0 0;
}

#container-oneManager .approve_detail li:nth-last-child(1) {
	border-radius: 0 0 20px 0;
}

#container-oneManager .approve_detail li:nth-last-child(8) {
	border-radius: 0 0 0 20px;
}

#container-oneManager .manager_header {
	width: 100%;
	height: 180px;
}

#container-oneManager .manager_info {
	width: 50%;
	height: 500px;
	margin: 0;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: var(--font-large);
}

#container-oneManager .proof_img {
	width: 45%;
	height: auto;
}

#container-oneManager .manager_tail {
	width: 100%;
	padding: 0 20px;
	height: 60px;
	display: flex;
	align-items: center;
	font-size: var(--font-small);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#container-oneManager .button_box {
	width: 100%;
	padding: 0 20px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#container-oneManager .manager_footer {
	width: 100%;
	padding: 0 20px;
	height: 30px;
	display: flex;
	align-items: center;
	font-size: var(--font-small);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#container-oneManager .manager_footer a:link, #container-oneManager .manager_footer a:hover, #container-oneManager .manager_footer a:focus, #container-oneManager .manager_footer a:visited {
	color: var(--color-admin-black);
}

#container-oneManager #approve {
	font-size: var(--font-medium);
	padding: 0 30px;
	margin: 0 30px 0 0;
	border-radius: 20px;
	border: none;
	background: var(--color-light-blue);
	color: var(--color-white);
	cursor: pointer;
	transition-duration: 0.4s;
}

#container-oneManager #approve:hover {
	background: var(--color-blue);
}

#container-oneManager #approve:active {
	background: var(--color-blue);
}

#container-oneManager #postpone {
	font-size: var(--font-medium);
	padding: 0 30px;
	margin: 0 30px 0 0;
	border-radius: 20px;
	border: none;
	background: var(--color-manager-light-green);
	color: var(--color-white);
	cursor: pointer;
	transition-duration: 0.4s;
}


#container-oneManager #postpone:hover {
	background: green;
}

#container-oneManager #postpone:active {
	background: green;
}

#container-oneManager #refuse {
	font-size: var(--font-medium);
	padding: 0 30px;
	margin: 0 30px 0 0;
	border-radius: 20px;
	border: none;
	background: var(--color-red);
	color: var(--color-white);
	cursor: pointer;
	transition-duration: 0.4s;
}

#container-oneManager #refuse:hover {
	background: #d20000;
}

#container-oneManager #refuse:active {
	background: #d20000;
}