@charset "UTF-8";

#container-allManager {
	background: var(--color-admin-gray);
	border-radius: 20px;
	padding: 0 20px;
}

#container-allManager h2 {
	margin: 10px 20px 0 20px;
	white-space:nowrap;
}

#container-allManager a:link, #container-allManager a:focus, #container-allManager a:visited, #container-allManager a:hover {
	color: var(--color-black);
}

#container-allManager .approve_list li {
	float: left;
	text-align: center;
	border-bottom: 1px solid gray;
	line-height: 2em;
	font-size: var(--font-micro);
	background: var(--color-admin-blue-gray);
	white-space:nowrap;
	text-overflow:ellipsis;
}

#container-allManager .approve_list li:nth-child(9n+1) {
	width: 5%;
}

#container-allManager .approve_list li:nth-child(9n+2) {
	width: 10%;
}

#container-allManager .approve_list li:nth-child(9n+3) {
	width: 10%;
}

#container-allManager .approve_list li:nth-child(9n+4) {
	width: 18%;
}

#container-allManager .approve_list li:nth-child(9n+5) {
	width: 12%;
}

#container-allManager .approve_list li:nth-child(9n+6) {
	width: 25%;
}

#container-allManager .approve_list li:nth-child(9n+7) {
	width: 5%;
}

#container-allManager .approve_list li:nth-child(9n+8) {
	width: 10%;
}

#container-allManager .approve_list li:nth-child(9n) {
	width: 5%;
}

#container-allManager .approve_list li:nth-child(1) {
	border-radius: 20px 0 0 0;
}

#container-allManager .approve_list li:nth-child(9) {
	border-radius: 0 20px 0 0;
}

#container-allManager .approve_list li:nth-last-child(1) {
	border-radius: 0 0 20px 0;
}

#container-allManager .approve_list li:nth-last-child(9) {
	border-radius: 0 0 0 20px;
}