@charset "UTF-8";

.container{
	margin: 0 auto;
	width: 1200px;
	border: 3px solid gray; 
}

#leftMenu{
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding:0px;
	margin:0px;
	background: #FEF7DD;
	/* border: 2px solid red; */ 	/*나중에 없애야*/
	width: 250px;
	height: 100%; 
	overflow: auto;
	position: fixed;
	text-align: center;
	font-size: var(--font-micro);		
}
/*---leftMenu에서 스크롤바 없애기-----------------*/
#leftMenu{ /*IE, Edge*/ 
   -ms-overflow-style: none;
}
#leftMenu::-webkit-scrollbar{ /* Chrome, Safari, Opera */
  display:none;
}
/*----------------------------------------------*/
.img img{
	width: 45%;
	margin-bottom: 5px;
	padding: 25px;
	background: #FFFDF8; 
	border-radius: 30px;
}
.img{
	margin-bottom: 50px;
}
/*===== menuList 스타일넣기=====*/
#menuList li{
	float: left;
	margin-left:10px;
	
}
#menuList li{
	height: 40px;
	margin-bottom: 3px;
}
#menuList li:nth-child(2n+1){
	width: 60%;
	/* background: pink; */
}
#menuList li:nth-child(2n+1):hover{
	background: #F5E6B1;
}

#menuList img{
	height: 20px;
	width: 20px;
	margin : 12px;
}

#menuList>ul>li:nth-child(2n+1){
	width: 18%;
	/* background: white; */
	/* margin-left: 10px; */
	
}
#menuList>ul>li{
	width: 60%;
	margin-bottom: 0px;
	/* background: yellowgreen; */
	
}
#menuList>ul>li:hover{
	background: #F5E6B1;
}
.open{
	padding-left: 25px;
	/* text-align: left; */
}
span{
	font-size : 16px;
	color : #45443F;
}
/*==========================*/
li a {
	display: block;
	padding: 10px;
}
.h{
	font-size: var(--font-regular);
	/* margin-bottom: 50px; */
	padding: 20px; 
	margin: 10px 0 20px 0;
	font-weight: var(--weight-bold);
}


/* 오른쪽 본문 칸 */
#content{
	background: #ddd;
	margin-left: 300px;
	margin-top: 50px;
	margin-right: 5px;
	margin-bottom: 50px;
	font-size: var(--font-regular);
	
	
}