@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700);


/*ㅡㅡㅡㅡㅡ버튼 스타일ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/


/*ㅡㅡㅡㅡㅡ버튼 스타일ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/





.container-mypage-all #applyListContent{
	/*
	
	margin-left: 300px;
	margin-top: 50px;
	margin-right: 5px;
	margin-bottom: 50px;
	*/
	/* background: #ddd; */
	font-size: 18px;
	margin-left: 285px;
}

#applyListContent table {
  border: 1px #a39485 solid;  	
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  /* display: inline-block; */
}

#applyListContent th {
  text-align: center;
}

  
#applyListContent thead {
  font-weight: bold;
  color: #fff;
  background: #485260;	/*색상 변경하기   #7D726F*/
}
  
#applyListContent td, th {
  padding: 1em .5em;
  vertical-align: middle;
  text-align: center;
}
  
#applyListContent td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;	
}
#applyListContent td:nth-child(5n+4){
	/* width: 40%; */
	overflow: hidden;
	white-space: inherit;
	text-overflow: ellipsis;
}
#applyListContent th:nth-child(5n){
	width: 10%
}

#applyListContent a {
  color: #343230; /*색상 변경하기*/
  font-size: 15px;
  font-weight: 500;
}

#applyListContent .rg{
	background: #FFDDC9;
	font-weight: 600 ;
	font-size: 15px;
	color: #525150;
	
}
#applyListContent .ng{
	background: #D4E5FF;
	font-weight: 600;
	font-size: 15px;
	color: #525150;
}


  
 