@charset "UTF-8";

#recommend_container .recommend_content_mbti {
	display: none;
	width: 1000px;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

#recommend_container .recommend_content_mbti.login.active {
	display: flex;
}

#recommend_container .recommend_content_mbti.non_login.active {
	display: flex;
}

#recommend_nav .mbti_select {
	margin-left: 8px;
	border-radius: 4px;
}

#recommend_container .mbti_result {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-board-blue);
	border-radius: 8px;
	border: 1px solid var(--color-gray);
	padding: 40px 0;
	margin-bottom: 60px;
}

#recommend_container .mbti_result .mbti {
	font-size: var(--font-medium);
	font-weight: var(--weight-bold);
	margin-bottom: 30px;
}

#recommend_container .mbti_result .message {
	font-size: var(--font-micro);
	font-weight: var(--weight-bold);
	margin-bottom: 30px;
}

#recommend_container .mbti_result .message:after { /* 구분선 추가 */
	content: '';
	display: block;
	position: relative;
	left: 265px;
	width: 20px;
	height: 2px;
	margin-top: 30px;
	background-color: var(--color-gray);
}

#recommend_container .mbti_result .sport_statistics {
	font-size: var(--font-micro);
	margin-bottom: 20px;
}

#recommend_container .mbti_result .sport_statistics.top {
	font-weight: var(--weight-bold);
	color: var(--color-lightest-blue);
	font-size: var(--font-small);
}

#recommend_container .login-message {
	font-size: var(--font-small);
	font-weight: var(--weight-bold);
}

#recommend_container .login-message a {
	color: var(--color-light-pink);
}

#recommend_container .mbti_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: var(--color-board-blue);
	border-radius: 8px;
	border: 1px solid var(--color-gray);
	padding: 40px;
	padding-bottom: 0;
}

#recommend_container .mbti_list .mbti_item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	background-color: var(--color-white);
	border-radius: 12px;
	margin-bottom: 40px;
	border: 1px solid var(--color-light-gray);
}

#recommend_container .mbti_list .mbti_item.active {
	border: 12px solid var(--color-light-pink);
	box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
}

#recommend_container .mbti_list .mbti_type {
	font-size: var(--font-regular);
	font-weight: var(--weight-bold);
	margin-bottom: 8px;
}

#recommend_container .mbti_list .mbti_type {
	font-size: var(--font-semi-medium);
	font-weight: var(--weight-bold);
	margin-bottom: 16px;
}

#recommend_container .mbti_list .sport_statistics {
	margin-bottom: 4px;
}