<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gather.we.dao.Manager10DAO">
	<select id="getAllManager10" resultType="com.gather.we.dto.Manager10DTO">
		SELECT stadium_info.stadium, stadium_info.location, rank_game.gametime, rank_game.g_status
	FROM rank_game  
	JOIN stadium_info ON stadium_info.st_no = rank_game.st_no
	</select>
	<select id="selectManagerList" parameterType="map" resultType="com.gather.we.dto.PagingVO">
  	SELECT s.stadium, s.location, rg.gametime, rg.g_status
  	FROM rank_game JOIN stadium_info s ON rg.st_no = s.st_no
  	ORDER BY rg.no DESC
 	 LIMIT #{nowPage, jdbcType=INTEGER, mode=IN}, #{onePageRecord, jdbcType=INTEGER, mode=IN}
</select>
 	
 </mapper> 