<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gather.we.dao.MypageDAO">
	<select id="getUserinfo" resultType="com.gather.we.dto.MypageUserDTO">
		select userid, type, username, password, email, tel, address, gender, mbti, rank, signupdate from users where userid=#{param1}
	</select> 
	<select id="getUsername" resultType="String">
		select username from users where userid=#{param1}
	</select>
	<select id="getSportName" resultType="com.gather.we.dto.MypageApplyListDTO">
		select s.sportname, z.gametime, z.userid from sport s 
		join (select * from rank_game rg join r_participate rp on rg.no = rp.no where userid=#{param1}) z
		on z.s_no = s.s_no
		order by z.gametime desc
	</select>
	<select id="getRankgameInfo" resultType="com.gather.we.dto.MypageApplyListDTO">
		select userid, gametime, rp.no, g_status from rank_game rg join r_participate rp 
		on rg.no = rp.no where userid=#{param1} order by gametime desc 
	</select>
	<select id="getStadium" resultType="com.gather.we.dto.MypageApplyListDTO">
		select si.stadium, z.gametime, z.userid from stadium_info si
		join (select * from rank_game rg join r_participate rp on rg.no=rp.no where userid=#{param1}) z
		on z.st_no = si.st_no 
		order by z.gametime desc
	</select>
</mapper>