@charset "UTF-8";

.body {
  margin: 0;
  padding: 0;

  flex-direction: column;
  height: 100vh;
 /* justify-content: center;
  align-items: center; */
  font-family: Arial, sans-serif;
  position: relative;
  right: 100px;
  width:2000px;
}

.container {
 /* display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center; */
  height: 100%; /* 컨테이너 높이를 60%로 설정 */
  max-width: 2000px; /* 컨테이너 너비를 최대 1200px까지 제한 */
  position: relative;
  top:130px;
  right: 150px;
  width: 2000px;
}
.sub-container-left {
 	position: relative;
 	width:70%;
 	
}


.box {
  background-color: #D1D9E2;
  color: #000000;
  padding: 3px;
  margin: 5px;
  
  flex-basis: calc(25% - 10px); /* 한 줄에 4개의 박스가 나오도록 flex-basis값을 설정 */
  max-width: 500px; /* 각 박스의 최대 너비를 300px로 제한 */
  height: 120px; /* 박스 높이를 120px로 조절 */
  width:2000px;
   background:#D9D9D9;
}

.box-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.sub-container-right {
  
  color: #fff;
  padding: 0 auto;
  margin: 5px;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 14px;
  
  position: relative; /* 버튼 위치를 absolute로 지정 */
  left: 400px; /* 오른쪽에 위치하도록 지정 */
  bottom: 70px; /* 하단에 위치하도록 지정 */
   
}

.btn-green {
  position: absolute;
  background-color: #48CD5D;
  color: #fff;
  padding: 5px;
  margin: 5px;
  text-align: center;
  height: 30px;
  width: 100%;
  font-size: 14px;
  align-self: flex-end;
  display:inline-block;
  top: -5px;
  right:10px;
  
}

.btn-gray {
  background-color: gray !important;
  color: #fff;
  padding: 5px;
  margin: 5px;
  text-align: center;
  height: 20px;
  width: 150px;
  align-self: flex-end;
}
.pagingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagingDiv ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.pagingDiv ul li {
  margin: 0 5px;
}

.pagingDiv ul li a,
.pagingDiv ul li span {
  display: block;
  padding: 5px 10px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  text-decoration: #ccc;
}

.pagingDiv ul li a:hover {
  background-color: #ccc;
}

.pagingDiv ul li span {
  background-color: #ccc;
  pointer-events: #ccc;
}

.pagingDiv ul li:first-child a,
.pagingDiv ul li:first-child span {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagingDiv ul li:last-child a,
.pagingDiv ul li:last-child span {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}